[submodule "xlsynth-repo"]
	path = xlsynth-repo
	url = https://github.com/xlsynth/xlsynth.git
[submodule "third_party/abseil"]
	path = third_party/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
